.amigabot.json.backup
[
    {
        "type": "tab",
        "id": "2667e117.0ef57e",
        "label": "Sheet 1"
    },
    {
        "id": "2acbd3e8.812b5c",
        "type": "MySQLdatabase",
        "z": "",
        "host": "iap.c8rqb14cuaul.us-east-1.rds.amazonaws.com",
        "port": "3306",
        "db": "iap",
        "tz": ""
    },
    {
        "id": "77182b8a.32db3c",
        "type": "http in",
        "z": "2667e117.0ef57e",
        "name": "Nuevo Mensaje",
        "url": "/update",
        "method": "post",
        "swaggerDoc": "",
        "x": 99.5,
        "y": 142,
        "wires": [
            [
                "74e003be.bf6344",
                "39dd5d91.012faa"
            ]
        ]
    },
    {
        "id": "74e003be.bf6344",
        "type": "http response",
        "z": "2667e117.0ef57e",
        "name": "RESP: 200 OK",
        "x": 315,
        "y": 128,
        "wires": []
    },
    {
        "id": "17553984.fad286",
        "type": "inject",
        "z": "2667e117.0ef57e",
        "name": "Mensaje Prueba",
        "topic": "Telegram message",
        "payload": "{ \"update_id\": 870360732, \"message\": { \"message_id\": 32, \"from\": { \"id\": 108416823, \"first_name\": \"Alejandro\", \"username\": \"algope\" }, \"chat\": { \"id\": 108416823, \"first_name\": \"Alejandro\", \"username\": \"algope\", \"type\": \"private\" }, \"date\": 1450438731 , \"text\": \"/start\", \"location\": 123} }",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 101.5,
        "y": 178,
        "wires": [
            [
                "39dd5d91.012faa"
            ]
        ]
    },
    {
        "id": "39dd5d91.012faa",
        "type": "json",
        "z": "2667e117.0ef57e",
        "name": "msg TO json",
        "x": 321,
        "y": 168,
        "wires": [
            [
                "8736ea0.7f5b198"
            ]
        ]
    },
    {
        "id": "990d1be3.d2ab08",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "Procesar Mensaje",
        "func": "var update = msg.mensaje;\nif(update.text){\n    var mensaje = update.text;\n    var output = {payload: mensaje};\n    return [output, null, null];\n}\nelse if(update.location){\n    var loc = update.location;\n    var output = {payload: loc}\n    return [null, output, null]\n} else{\n    return msg;\n}\n",
        "outputs": "3",
        "noerr": 0,
        "x": 678,
        "y": 432,
        "wires": [
            [
                "425d6f3.bbc9c1"
            ],
            [],
            []
        ]
    },
    {
        "id": "425d6f3.bbc9c1",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "Procesar Comandos",
        "property": "payload",
        "rules": [
            {
                "t": "eq",
                "v": "/start"
            },
            {
                "t": "eq",
                "v": "/cancelar"
            },
            {
                "t": "eq",
                "v": "/registro"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 926,
        "y": 342,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a0a2262.775ced8",
        "type": "mysql",
        "z": "2667e117.0ef57e",
        "mydb": "2acbd3e8.812b5c",
        "name": "",
        "x": 287,
        "y": 278,
        "wires": [
            [
                "2cfc4b83.be2644"
            ]
        ]
    },
    {
        "id": "8736ea0.7f5b198",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "Obtener Usuario",
        "func": "var query = \"SELECT id FROM iap.users WHERE id=\"+msg.payload.message.from.id;\nvar output = {payload: msg.payload, mensaje:msg.payload.message, topic: query};\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 123,
        "y": 278,
        "wires": [
            [
                "a0a2262.775ced8"
            ]
        ]
    },
    {
        "id": "26be8463.db5a64",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "",
        "property": "queryRes",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 111,
        "y": 426,
        "wires": [
            [
                "57cb5abc.0da214"
            ],
            [
                "990d1be3.d2ab08"
            ]
        ]
    },
    {
        "id": "57cb5abc.0da214",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "Crear Usuario",
        "func": "var id = msg.mensaje.from.id\nvar nombre = \"\";\nvar apellido = \"\";\nif('first_name' in msg.mensaje.from){\n    nombre = msg.mensaje.from.first_name;\n}else{\n    nombre = null;\n}\nif('last_name' in msg.mensaje.from){\n    apellido = msg.mensaje.from.last_name;\n}else{\n    apellido = null;\n}\n\nvar query = \"INSERT INTO iap.users (id,first_name, last_name)\"+ \n            \" VALUES(\"+id+\",'\"+nombre+\"','\"+apellido+\"');\";\nvar output = {payload: msg.payload, mensaje:msg.mensaje, topic: query};\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 313,
        "y": 394,
        "wires": [
            [
                "aaca03e8.66d258"
            ]
        ]
    },
    {
        "id": "aaca03e8.66d258",
        "type": "mysql",
        "z": "2667e117.0ef57e",
        "mydb": "2acbd3e8.812b5c",
        "name": "",
        "x": 462,
        "y": 394,
        "wires": [
            [
                "990d1be3.d2ab08"
            ]
        ]
    },
    {
        "id": "2cfc4b83.be2644",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "Resultado Consulta",
        "func": "var results = msg.payload;\nvar output=null;\nif(results.length>0){\n    output=results[0].id;\n}\n\nvar res = {payload: msg.payload, mensaje: msg.mensaje, queryRes: output }\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 481,
        "y": 279,
        "wires": [
            [
                "26be8463.db5a64"
            ]
        ]
    }
]