amigabot.json
[
    {
        "type": "tab",
        "id": "2667e117.0ef57e",
        "label": "Sheet 1"
    },
    {
        "id": "2acbd3e8.812b5c",
        "type": "MySQLdatabase",
        "z": "",
        "host": "iap.c8rqb14cuaul.us-east-1.rds.amazonaws.com",
        "port": "3306",
        "db": "iap",
        "tz": ""
    },
    {
        "id": "119f3582.9e58ca",
        "type": "twilio-api",
        "z": "2667e117.0ef57e",
        "sid": "AC207e5fb1f8e7ea3d45e516f8c362c6fe",
        "from": "+34986080463",
        "name": ""
    },
    {
        "id": "b2b1b72f.adb8d8",
        "type": "google-api-config",
        "z": "2667e117.0ef57e"
    },
    {
        "id": "5013ee51.ef7ea8",
        "type": "MySQLdatabase",
        "z": "2667e117.0ef57e",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iap",
        "tz": ""
    },
    {
        "id": "77182b8a.32db3c",
        "type": "http in",
        "z": "2667e117.0ef57e",
        "name": "Nuevo Mensaje",
        "url": "/update",
        "method": "post",
        "swaggerDoc": "",
        "x": 96.9285888671875,
        "y": 298.28570556640625,
        "wires": [
            [
                "74e003be.bf6344",
                "8736ea0.7f5b198"
            ]
        ]
    },
    {
        "id": "74e003be.bf6344",
        "type": "http response",
        "z": "2667e117.0ef57e",
        "name": "RESP: 200 OK",
        "x": 317.5714416503906,
        "y": 324.1428527832031,
        "wires": []
    },
    {
        "id": "17553984.fad286",
        "type": "inject",
        "z": "2667e117.0ef57e",
        "name": "Mensaje Prueba",
        "topic": "Telegram message",
        "payload": "{ \"update_id\": 870360732, \"message\": { \"message_id\": 32, \"from\": { \"id\": 108416823, \"first_name\": \"Alejandro\", \"username\": \"algope\" }, \"chat\": { \"id\": 108416823, \"first_name\": \"Alejandro\", \"username\": \"algope\", \"type\": \"private\" }, \"date\": 1450438731 , \"text\": \"Calle Castán Tobeñas, 55, Valencia\", \"location\": 123} }",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.64291381835938,
        "y": 695.2857055664062,
        "wires": [
            [
                "39dd5d91.012faa"
            ]
        ]
    },
    {
        "id": "39dd5d91.012faa",
        "type": "json",
        "z": "2667e117.0ef57e",
        "name": "msg TO json",
        "x": 123.42855834960938,
        "y": 598.7142333984375,
        "wires": [
            [
                "8736ea0.7f5b198"
            ]
        ]
    },
    {
        "id": "425d6f3.bbc9c1",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "Procesar Comandos",
        "property": "text",
        "rules": [
            {
                "t": "eq",
                "v": "/start"
            },
            {
                "t": "eq",
                "v": "/registro"
            },
            {
                "t": "eq",
                "v": "/emergencia"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 1225.5714721679688,
        "y": 291.7142639160156,
        "wires": [
            [
                "1fff98b8.ef58b7"
            ],
            [
                "8dfd7f60.95bb6"
            ],
            [
                "9aff465c.efb3d"
            ],
            [
                "fef0675e.f4637"
            ]
        ]
    },
    {
        "id": "a0a2262.775ced8",
        "type": "mysql",
        "z": "2667e117.0ef57e",
        "mydb": "5013ee51.ef7ea8",
        "name": "",
        "x": 246.0001220703125,
        "y": 449.7142333984375,
        "wires": [
            [
                "2cfc4b83.be2644"
            ]
        ]
    },
    {
        "id": "8736ea0.7f5b198",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "BuscaUsuario",
        "func": "var query = \"SELECT id, stage, first_name, last_name, username FROM iap.users WHERE id=\"+msg.payload.message.from.id;\nvar output = {payload: msg.payload, mensaje:msg.payload.message, topic: query};\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 104.57144165039062,
        "y": 449.7142333984375,
        "wires": [
            [
                "a0a2262.775ced8"
            ]
        ]
    },
    {
        "id": "26be8463.db5a64",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "",
        "property": "queryRes",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 488.857177734375,
        "y": 449.7142333984375,
        "wires": [
            [
                "57cb5abc.0da214"
            ],
            [
                "1e13b1d4.2bf726"
            ]
        ]
    },
    {
        "id": "57cb5abc.0da214",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "Crear Usuario",
        "func": "var id = msg.mensaje.from.id\nvar nombre = \"\";\nvar apellido = \"\";\nvar usuario = \"\";\nif('first_name' in msg.mensaje.from){\n    nombre = msg.mensaje.from.first_name;\n}else{\n    nombre = null;\n}\nif('last_name' in msg.mensaje.from){\n    apellido = msg.mensaje.from.last_name;\n}else{\n    apellido = null;\n}\nif('username' in msg.mensaje.from){\n    usuario = msg.mensaje.from.username;\n}else usuario = null;\n\n\nvar query = \"INSERT INTO iap.users (id,stage,first_name, last_name, username)\"+ \n            \" VALUES(\"+id+\",0,'\"+nombre+\"','\"+apellido+\"','\"+usuario+\"');\";\nvar output = {mensaje:msg.mensaje, stage:msg.stage, topic: query};\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 642.857177734375,
        "y": 405.7142639160156,
        "wires": [
            [
                "aaca03e8.66d258"
            ]
        ]
    },
    {
        "id": "aaca03e8.66d258",
        "type": "mysql",
        "z": "2667e117.0ef57e",
        "mydb": "5013ee51.ef7ea8",
        "name": "",
        "x": 787.857177734375,
        "y": 405.7142639160156,
        "wires": [
            [
                "1e13b1d4.2bf726"
            ]
        ]
    },
    {
        "id": "2cfc4b83.be2644",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "setPayload",
        "func": "var results = msg.payload;\nvar update = msg.mensaje;\nvar res = null;\nvar output=null;\nvar type = null;\nvar estado = 0;\n\n\nif(results.length>0){\n    output=results[0].id;\n    estado=results[0].stage;\n}\n\nif(update.text){\n    var mensaje = update.text;\n    type = \"text\";\n    res = {\n        text     : mensaje, \n        stage    : estado, \n        type     : type, \n        mensaje  : msg.mensaje, \n        queryRes : output\n        \n    };\n\n}\nelse if(update.location){\n    var loc = update.location;\n    type = \"location\";\n    res = {\n        location : loc, \n        stage    : estado, \n        type     : type, \n        mensaje  : msg.mensaje, \n        queryRes : output\n        \n    };\n}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 365.71435546875,
        "y": 449.7142333984375,
        "wires": [
            [
                "26be8463.db5a64"
            ]
        ]
    },
    {
        "id": "1e13b1d4.2bf726",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "Stage?",
        "property": "stage",
        "rules": [
            {
                "t": "eq",
                "v": "0"
            },
            {
                "t": "eq",
                "v": "1"
            },
            {
                "t": "eq",
                "v": "2"
            },
            {
                "t": "eq",
                "v": "3"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 932.1744384765625,
        "y": 456.3966979980469,
        "wires": [
            [
                "740fedd.c349314"
            ],
            [
                "9f129102.db316"
            ],
            [
                "7538205d.32fe9"
            ],
            [
                "4242c002.f5b1d8"
            ]
        ]
    },
    {
        "id": "bca8bffa.1ecc8",
        "type": "http request",
        "z": "2667e117.0ef57e",
        "name": "Respuesta",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.telegram.org/bot163966266:AAG725aiRHk-34lVP-O7tL-zEAXYQM2vNtI/sendMessage",
        "x": 1737.5556640625,
        "y": 351.3333435058594,
        "wires": [
            []
        ]
    },
    {
        "id": "1fff98b8.ef58b7",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "/start",
        "func": "var id=msg.mensaje.from.id;\nvar nombre=msg.mensaje.from.first_name\nvar texto = \"Hola \"+nombre+\". Bienvenidx a amigaBOT.\\n\"+\n            \"Estoy aquí para ayudarte en tus momentos más dificiles. Me aseguraré de que la ayuda llega cuando más lo necesites.\"+\n            \"Para empezar, registrate pulsando sobre el comando: /registro .\"\n\nmsg.payload = { chat_id: id, text: texto }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1471,
        "y": 284.3333435058594,
        "wires": [
            [
                "bca8bffa.1ecc8"
            ]
        ]
    },
    {
        "id": "b2ef3382.8f5ee",
        "type": "twilio out",
        "z": "2667e117.0ef57e",
        "twilio": "119f3582.9e58ca",
        "twilioType": "sms",
        "url": "",
        "number": "+34606064085",
        "name": "enviarSMS",
        "x": 1501,
        "y": 565,
        "wires": []
    },
    {
        "id": "8dfd7f60.95bb6",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "/registro",
        "func": "var id=msg.mensaje.from.id;\nvar nombre=msg.mensaje.from.first_name\nvar texto = \"Para registrarte, primero indícame cuál es tu dirección completa: \"\n\nmsg.payload = { chat_id: id, text: texto }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1472.8890380859375,
        "y": 317.00001525878906,
        "wires": [
            [
                "bca8bffa.1ecc8",
                "623c1e80.6a3c2"
            ]
        ]
    },
    {
        "id": "fef0675e.f4637",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "error",
        "func": "var id=msg.mensaje.from.id;\nvar nombre=msg.mensaje.from.first_name\nvar texto = \"Vaya, eso no lo esperaba. Revisa que no te hayas equivocado.\"\n\nmsg.payload = { chat_id: id, text: texto }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1467.6670532226562,
        "y": 382.11114501953125,
        "wires": [
            [
                "bca8bffa.1ecc8"
            ]
        ]
    },
    {
        "id": "9aff465c.efb3d",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "/emergencia",
        "func": "var id=msg.mensaje.from.id;\nvar nombre=msg.mensaje.from.first_name\nvar texto = \"Para poder notificar de una emergencia, primero necesito que te registres. Pulsa sobre /registro\"\n\nmsg.payload = { chat_id: id, text: texto }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1485.8888549804688,
        "y": 350.1111145019531,
        "wires": [
            [
                "bca8bffa.1ecc8"
            ]
        ]
    },
    {
        "id": "623c1e80.6a3c2",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "AEtapa",
        "func": "var id = msg.mensaje.from.id\n\n\nvar query = \"UPDATE iap.users SET stage=1 WHERE id=\"+id;\nvar output = {mensaje:msg.mensaje, stage:msg.stage, topic: query, };\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 2005.000244140625,
        "y": 317.8888854980469,
        "wires": [
            [
                "d3171200.450c3"
            ]
        ]
    },
    {
        "id": "d3171200.450c3",
        "type": "mysql",
        "z": "2667e117.0ef57e",
        "mydb": "5013ee51.ef7ea8",
        "name": "",
        "x": 2180.999755859375,
        "y": 364.8888854980469,
        "wires": [
            []
        ]
    },
    {
        "id": "20bdb9af.cc0ca6",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "Dirección",
        "func": "var id=msg.mensaje.from.id;\nvar nombre=msg.mensaje.from.first_name\nvar texto = \"Perfecto, ahora dime a qué número de teléfono movil quieres que avisemos en caso de emergencia: \"\nvar local = msg.mensaje.text;\nvar resp = { chat_id: id, text: texto };\n\nvar res ={payload:resp, location:{address:local}, mensaje: msg.mensaje};\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 1473.7618408203125,
        "y": 415.22222900390625,
        "wires": [
            [
                "bca8bffa.1ecc8",
                "a5020c94.6cf7f8"
            ]
        ]
    },
    {
        "id": "fcff0761.e11638",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "Localización",
        "func": "var id = msg.mensaje.from.id;\nvar lat = msg.location.lat;\nvar lon = msg.location.lon;\nvar full_address = msg.mensaje.text;\n\nvar query = \"INSERT INTO iap.local (id, lat, lon, full_address)\"+ \n            \" VALUES(\"+id+\",'\"+lat+\"','\"+lon+\"','\"+full_address+\"');\";\n            \n            \nvar output = {mensaje:msg.mensaje, stage:msg.stage, topic: query};\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 1994.111083984375,
        "y": 364.88897705078125,
        "wires": [
            [
                "d3171200.450c3"
            ]
        ]
    },
    {
        "id": "a5020c94.6cf7f8",
        "type": "google geocoding",
        "z": "2667e117.0ef57e",
        "name": "Geocodificación",
        "geocodeBy": "address",
        "address": "",
        "lat": "",
        "lon": "",
        "googleAPI": "b2b1b72f.adb8d8",
        "bounds": "",
        "language": "",
        "region": "",
        "components": "",
        "x": 1753.111083984375,
        "y": 384.2222900390625,
        "wires": [
            [
                "fcff0761.e11638",
                "81aca8be.c1b95"
            ]
        ]
    },
    {
        "id": "81aca8be.c1b95",
        "type": "function",
        "z": "2667e117.0ef57e",
        "name": "AEtapa",
        "func": "var id = msg.mensaje.from.id\n\n\nvar query = \"UPDATE iap.users SET stage=2 WHERE id=\"+id;\nvar output = {mensaje:msg.mensaje, stage:msg.stage, topic: query, };\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 1982,
        "y": 400,
        "wires": [
            [
                "d3171200.450c3"
            ]
        ]
    },
    {
        "id": "740fedd.c349314",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "stage0",
        "property": "type",
        "rules": [
            {
                "t": "eq",
                "v": "text"
            },
            {
                "t": "eq",
                "v": "location"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1079.9998168945312,
        "y": 408.5714111328125,
        "wires": [
            [
                "425d6f3.bbc9c1"
            ],
            [
                "fef0675e.f4637"
            ]
        ]
    },
    {
        "id": "9f129102.db316",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "stage1",
        "property": "type",
        "rules": [
            {
                "t": "eq",
                "v": "text"
            },
            {
                "t": "eq",
                "v": "location"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1080,
        "y": 441.42852783203125,
        "wires": [
            [
                "20bdb9af.cc0ca6"
            ],
            []
        ]
    },
    {
        "id": "7538205d.32fe9",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "stage2",
        "property": "type",
        "rules": [
            {
                "t": "eq",
                "v": "text"
            },
            {
                "t": "eq",
                "v": "location"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1079.9999389648438,
        "y": 474.2856750488281,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4242c002.f5b1d8",
        "type": "switch",
        "z": "2667e117.0ef57e",
        "name": "stage3",
        "property": "type",
        "rules": [
            {
                "t": "eq",
                "v": "text"
            },
            {
                "t": "eq",
                "v": "location"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1081.4285888671875,
        "y": 508.5714111328125,
        "wires": [
            [],
            []
        ]
    }
]