flows_tyndareus.local.json
[{"type":"tab","id":"1799939b.af536c","label":"Sheet 1"},{"id":"aaa32392.701ee8","type":"http in","z":"1799939b.af536c","name":"Nuevo Mensaje","url":"/update","method":"post","swaggerDoc":"","x":257,"y":214,"wires":[["9d351c6f.1a1d58"]]},{"id":"9d351c6f.1a1d58","type":"function","z":"1799939b.af536c","name":"Procesar Mensaje","func":"\nreturn msg;","outputs":"4","noerr":0,"x":485,"y":340,"wires":[["6e23d4bd.3c8b34"],[],[],[]]},{"id":"f71746d5.50c938","type":"google geocoding","z":"1799939b.af536c","name":"","geocodeBy":"address","address":"","lat":"","lon":"","bounds":"","language":"","region":"","components":"","x":939,"y":283,"wires":[[]]},{"id":"6e23d4bd.3c8b34","type":"change","z":"1799939b.af536c","name":"Genera geoJSON","rules":[{"t":"set","p":"payload","to":""}],"action":"","property":"","from":"","to":"","reg":false,"x":709,"y":299,"wires":[["f71746d5.50c938"]]}]