flows_tyndareus.local.json
[{"type":"tab","id":"1799939b.af536c","label":"amigaBOT"},{"id":"aaa32392.701ee8","type":"http in","z":"1799939b.af536c","name":"Nuevo Mensaje","url":"/update","method":"post","swaggerDoc":"","x":99,"y":391,"wires":[["9d351c6f.1a1d58"]]},{"id":"9d351c6f.1a1d58","type":"function","z":"1799939b.af536c","name":"Procesar Mensaje","func":"\nreturn msg;","outputs":"4","noerr":0,"x":344,"y":391,"wires":[["6e23d4bd.3c8b34"],[],[],[]]},{"id":"f71746d5.50c938","type":"google geocoding","z":"1799939b.af536c","name":"Geolocalizar Coordenadas","geocodeBy":"coordinates","address":"","lat":"","lon":"","googleAPI":"","bounds":"","language":"","region":"","components":"","x":845,"y":228,"wires":[["3242fd11.e65eb2","1f2d54c7.743653"]]},{"id":"6e23d4bd.3c8b34","type":"change","z":"1799939b.af536c","name":"Genera geoJSON","rules":[{"t":"set","p":"payload","to":""}],"action":"","property":"","from":"","to":"","reg":false,"x":584,"y":309,"wires":[["f71746d5.50c938"]]},{"id":"3242fd11.e65eb2","type":"mysql","z":"1799939b.af536c","mydb":"","name":"","x":1081,"y":228,"wires":[[]]},{"id":"1f2d54c7.743653","type":"twilio out","z":"1799939b.af536c","twilio":"","twilioType":"sms","url":"","number":"","name":"Enviar SMS","x":1087,"y":337,"wires":[]}]